apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vegbank-pgdata
  namespace: dev-dou
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  volumeMode: Filesystem
  volumeName: cephfs-repos-rom