# Default values for VegBank.
# This is a YAML-formatted file.

## @param replicaCount  The number of API pods to be created when the chart is installed. 
replicaCount: 1

allowUploads: false

## @section Database
## configuration for the PostgreSQL database used by VegBank.
database:
  ## @param name - The name of the database on the postgres pod to be used by VegBank.
  name: vegbank
  ## @param host - The host name of the database to be used by VegBank. Currently defined by bitnami, but will change. 
  host: vegbankdb-cnpg-rw
  ## @param port - The port to connect to on the database pod. 
  port: 5432

databaseRestore:
  ## @param databaseRestore.enabled - Restores a given dump file defined below
  ## Reminder, the deployment.yaml postgres image should be the same as the CNPG postgres version
  enabled: false
  pvc: "vegbankdb-init-pgdata"
  mountpath: "/tmp/databaseRestore"
  filepath: "vegbank_full_fc_v1.9_pg16_20250924.dump"
  ## @param postgres_image - Version of postgres image to run the initContainer with.
  ## This should match the version that is running on CNPG
  postgres_image: postgres:17

flyway:
  image:
    repository: flyway/flyway
    pullPolicy: IfNotPresent
    ## Overrides the image tag whose default is the chart appVersion.
    tag: "10.17.0"
  configpath: /opt/local/flyway/flyway.conf
  dbpath: /opt/local/flyway/db

## @section Image 
## configuration for the docker image of the Flask API. 
image:
  ## @param image.repository - github remote image repository address for the VegBank Docker Image
  repository: ghcr.io/nceas/vegbank
  ## @param image.pullPolicy - How often should the image be pulled from the repository?
  ## Set to Always for local development, IfNotPresent for production. 
  pullPolicy: IfNotPresent

## @param imagePullSecrets
imagePullSecrets: []
## @param nameOverride
nameOverride: ""
## @param fullnameOverride
fullnameOverride: ""

## @section serviceAccount
serviceAccount:
  ## @param serviceAccount.create Specifies whether a service account should be created
  create: true
  ## @param serviceAccount.automount Automatically mount a ServiceAccount's API credentials?
  automount: true
  ## @param serviceAccount.annotations Annotations to add to the service account
  annotations: {}
  ## @param serviceAccount.name The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

## @param podAnnotations currently unused
podAnnotations: {}
## @param podLabels
podLabels: {}

## @param podSecurityContext
podSecurityContext: {}
  # fsGroup: 2000

## @param securityContext
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

## @section Service
## Port and type for the service that will connect the ingress to the Flask API. There is no service section in the ingress 
## as the ingress automatically pulls the default named service for the pod via release name. 
service: 
  ## @param service.type - The type of service to create.
  type: ClusterIP
  ## @param service.port - The port on which the service will be exposed.
  port: 80

## @section ingress
## Configuration for the ingress, including certifications and host name. There is no configured service section here because the ingress
## automatically pulls the default named service for the pod via release name. The section establishing that service is above. 
ingress: 
  ## @param ingress.enabled - Should the ingress be enabled?
  ## @param ingress.className - The class of the ingress controller to use.
  className: nginx
  ## @section ingress.annotations - Annotations to add to the ingress resource.
  annotations: 
    ## @param ingress.annotations.cert-manager.io/cluster-issuer
    cert-manager.io/cluster-issuer: "letsencrypt-prod" 
  ## @section ingress.hosts Host name information for the ingress. 
  hosts:
    ## @param ingress.hosts[0].host - The host names for the ingress.
    - host: api-dev.vegbank.org
      ## @section ingress.hosts[0].paths - The paths for the ingress.
      paths:
        ## @param ingress.hosts[0].paths[0].path - The path for the ingress.
        - path: /
        ## @param ingress.hosts[0].paths[0].pathType - The type of path matching to use.
          pathType: Prefix 
  ## @section tls 
  ## Host name and secret name for the TLS certification. Host name must be changed between DEV and PRD, secret name does not.     
  tls: 
      ## @param ingress.tls[0].hosts - The host names for the TLS certification.
    - hosts: 
        - api-dev.vegbank.org 
      ## @param ingress.tls[0].secretName - The name of the secret containing the TLS certificate.
      secretName: ingress-nginx-tls-cert 

## @param resources
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

## @section livenessProbe
livenessProbe:
  ## @section livenessProbe.httpGet
  httpGet:
    ## @param livenessProbe.httpGet.path - The path to use for the liveness probe.
    path: /
    ## @param livenessProbe.httpGet.port - The port to use for the liveness probe.
    port: 80

## @section readinessProbe
readinessProbe:
  ## @section readinessProbe.httpGet
  httpGet:
    ## @param readinessProbe.httpGet.path - The path to use for the readiness probe.
    path: /
    ## @param readinessProbe.httpGet.port - The port to use for the readiness probe.
    port: 80

## @section autoscaling
autoscaling:
  ## @param autoscaling.enabled
  enabled: false
  ## @param autoscaling.minReplicas
  minReplicas: 1
  ## @param autoscaling.maxReplicas
  maxReplicas: 100
  ## @param autoscaling.targetCPUUtilizationPercentage
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

## @param volumeMounts Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

## @param nodeSelector
nodeSelector: {}

## @param tolerations
tolerations: []

## @param affinity
affinity: {}