## @section CNPG PostgresQL
dbName: vegbank
existingSecret: vegbankdbcreds
dbUser: vegbank

## @section CNPG Init - Bootstrap the CNPG cluster via different init options.
init:
  ## @param init.enabled Set this to 'true' to enable init options, for example: 'recovery', 'initdb' and 'pgbasebackup'
  ## By default the init section will create an empty postgres cluster with
  ## supplied secret. The dbUser must match the username of the secret.
  enabled: false
  ## @param init.method
  ## By default, this method is set to 'initdb' to initialize an empty cnpg cluster
  ## To recover from a volumeSnapshot via `ScheduledBackups`, set this value to 'recovery'
  ## To learn more, see: https://github.com/DataONEorg/dataone-cnpg/blob/main/README.md
  method: initdb
  ## @param init.recoverFromBackup Set this to your desired volumeSnapshot name, ex. 'vegbankdb-scheduled-backup-20251107221536'
  ## If you do not see a new pod launch like 'vegbankenabledtest-cnpg-1-snapshot-recovery-lrzz7',
  ## You can execute the command 'kubectl describe cluster vegbankenabledtest' to begin debugging
  recoverFromBackup: vegbankdb-scheduled-backup-placeholder

## @section backup - Enabled `ScheduledBackup` functionality to create volume snappshots 
backup:
  ## @param backup.enabled - Set to 'true' to begin creating volumesnapshots upon installation
  ## of the 'cnpg' postgres cluster. For more information,
  ## see: https://github.com/DataONEorg/dataone-cnpg/blob/main/README.md#scheduled-backup
  enabled: false

resources:
  requests:
    cpu: 750m
    memory: 2Gi
  limits:
    cpu: 750m
    memory: 2Gi

persistence:
  size: 100Gi

postgresql:
  parameters:
    max_wal_senders: 16  # must match bitnami for replication to work

  ## metacat override to allow password auth:
  pg_hba:
    # TYPE        DATABASE      USER          ADDRESS         METHOD
    - host        vegbank       vegbank       0.0.0.0/0       password
    - host        vegbank       vegbank       ::0/0           password
    - local       all           all                           trust
    - host        all           all           127.0.0.1/32    trust
    - host        postgres      postgres      0.0.0.0/0       password