## @section CNPG PostgresQL
dbName: vegbank

resources:
  requests:
    cpu: 750m
    memory: 2Gi
  limits:
    cpu: 750m
    memory: 2Gi

init:
  import:
    type: microservice
    databases:
      - vegbank
    source:
      externalCluster: source-db
    pgRestoreExtraOptions:
      - '--verbose'
  database: vegbank
  owner: vegbank
  secret:
    name: vegbankdbcreds

  externalClusters:
    - name: source-db
      connectionParameters:
        host: vegbankdb-postgresql
        user: vegbank
        dbname: vegbank
        sslmode: disable
      password:
        name: vegbankdbcreds
        key: password

persistence:
  size: 100Gi

postgresql:
  parameters:
    max_wal_senders: 16  # must match bitnami for replication to work

  ## metacat override to allow password auth:
  pg_hba:
    # TYPE        DATABASE      USER          ADDRESS         METHOD
    - host        vegbank       vegbank       0.0.0.0/0       password
    - host        vegbank       vegbank       ::0/0           password
    - local       all           all                           trust
    - host        all           all           127.0.0.1/32    trust
    - host        postgres      postgres      0.0.0.0/0       password