## @section CNPG PostgresQL
## Omitting the init section will create an empty postgres cluster with
## supplied secret. The dbUser must match the username of the secret.
dbName: vegbank
existingSecret: vegbankdbcreds
dbUser: vegbank

## @section CNPG Init - Recover from a Scheduled Backup
init:
  ## @param init.enabled Set this to 'true' to enable recovery from a volumeSnapshot via `ScheduledBackups`
  enabled: false
  method: recovery
  ## @param init.recoverFromBackup Set this to your desired volumeSnapshot name, ex. 'vegbankdb-scheduled-backup-20251107221536'
  ## If you do not see a new pod launch like 'vegbankenabledtest-cnpg-1-snapshot-recovery-lrzz7',
  ## You can execute the command 'kubectl describe cluster vegbankenabledtest' to begin debugging
  recoverFromBackup: vegbankdb-scheduled-backup-placeholder

resources:
  requests:
    cpu: 750m
    memory: 2Gi
  limits:
    cpu: 750m
    memory: 2Gi

persistence:
  size: 100Gi

postgresql:
  parameters:
    max_wal_senders: 16  # must match bitnami for replication to work

  ## metacat override to allow password auth:
  pg_hba:
    # TYPE        DATABASE      USER          ADDRESS         METHOD
    - host        vegbank       vegbank       0.0.0.0/0       password
    - host        vegbank       vegbank       ::0/0           password
    - local       all           all                           trust
    - host        all           all           127.0.0.1/32    trust
    - host        postgres      postgres      0.0.0.0/0       password

backup:
  volumeSnapshot:
    className: csi-cephfsplugin-snapclass