## @section CNPG PostgresQL
dbName: vegbank

resources:
  requests:
    cpu: 750m
    memory: 2Gi
  limits:
    cpu: 750m
    memory: 2Gi

init:
  method: "pg_basebackup"
  pg_basebackup:
    ## use the externalCluster with the following source name
    source: "source-db"
    ## target database name and owner to create after cloning from the source
    database: "vegbank"
    owner: "vegbank"  # Defaults to the value of the pg_basebackup.database key.
    ## Name of the secret containing the credentials for the owner of the user database that is
    ## being copied from the source cluster
    secret:
      name: "vegbankdbcreds"
    ## Necessary if the source database was initialized with libc locale provider
    localeProvider: libc

  externalClusters:
    - name: source-db
      connectionParameters:
        host: vegbankdb-postgresql
        user: vegbank
        dbname: vegbank
        sslmode: disable
      password:
        name: vegbankdbcreds
        key: password

persistence:
  size: 100Gi

replica:
  enabled: true
  source: "source-db"

postgresql:
  parameters:
    max_wal_senders: 16  # must match bitnami for replication to work

  ## metacat override to allow password auth:
  pg_hba:
    # TYPE        DATABASE      USER          ADDRESS         METHOD
    - host        vegbank       vegbank       0.0.0.0/0       password
    - host        vegbank       vegbank       ::0/0           password
    - local       all           all                           trust
    - host        all           all           127.0.0.1/32    trust
    - host        postgres      postgres      0.0.0.0/0       password